@page
@model FunWithBrandt.KnowledgeRepositoryModel
@{
    ViewData["Title"] = "KnowledgeRepository";
}


<style>
    .table-hover tbody tr:hover {
         background-color: #e6f7ff;
}
    .table tr td{
        padding:5px;
    }

    h1 {
        font-size:xx-large;
    }

</style>

<h1>KnowledgeRepository</h1>

<br />
<p>My beautiful table of learning. I would love additional entries so hit me up with other sources. </p>
<br />
<table class="table table-responsive table-striped table-bordered table-hover">

    <thead>
        <tr>
            <th>Person</th>
            <th>Institution</th>
            <th>Description</th>
            <th>Source</th>
            <th>Keywords</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var record in Model.knowledgeRecords)
        {
            <tr>
                <td>@record.Person</td>
                <td>@record.Institution</td>
                <td>@record.Description</td>
                <td><a href=@record.Source>@record.Source</a></td>
                <td>@record.Keywords</td>
            </tr>
        }
    </tbody>

</table>

