@page
@model FunWithBrandt.ProgramsModel
@{
    ViewData["Title"] = "Programs";
}

<head>
    <style>
        .pre-scrollable {
            max-height: 450px;
        }

        .program-language {
            font-size: x-large
        }

        .program-title {
            font-size: large
        }

        .program-description {
        }

        .program-code {
        }
    </style>
</head>

<h2 class="text-center">Programs</h2>
<br />
<br />

<p>Follow me on GitHub: <a href="https://github.com/Brandt-moreThan4">https://github.com/Brandt-moreThan4 </a>   
</p>

<p>
    I don't have anything cool on there yet other
    than the source code for this website, but I would like to get going.
</p>
<p>
    This page can be just a storehouse for programs. I already am using google's code prettify javascript to add
    some syntax highlighting for the code blocks, but perhaps I should look at other possibilities.
</p>
<p>
   I am still leaning towards some sort of color coding. Or at least I think I want to put the language logos somehwere.
    Formatting for title and description blocks?
</p>
<br />
<br />



@* Dynamic navigation tab. I don't know how it works, but I think it uses bootstrap's javascript. *@
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="Python-tab" data-toggle="tab" href="#Python" role="tab" aria-controls="Python" aria-selected="true">Python</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="CSharp-tab" data-toggle="tab" href="#CSharp" role="tab" aria-controls="CSharp" aria-selected="false">CSharp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="VBA-tab" data-toggle="tab" href="#VBA" role="tab" aria-controls="VBA" aria-selected="false">VBA</a>
    </li>
</ul>


<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Python" role="tabpanel" aria-labelledby="Python-tab">
        @foreach (var post in Model.programPosts)
        {
            if (post.Language == "Python")
            {


            <div>
                <h1 class="program-language">@post.Language</h1>
                <h2 class="program-title">@post.Title</h2>
                <p class="program-description">@post.Description</p>
                <br />

                <pre class="pre-scrollable prettyprint">
                    @post.Code
                </pre>

            </div>
            <hr />
            <br />
            <br />

            }
        }
    </div>
    <div class="tab-pane fade" id="CSharp" role="tabpanel" aria-labelledby="CSharp-tab">
        @foreach (var post in Model.programPosts)
        {
            if (post.Language == "C#")
            {


                <div>
                    <h1 class="program-language">@post.Language</h1>
                    <h2 class="program-title">@post.Title</h2>
                    <p class="program-description">@post.Description</p>
                    <br />

                    <pre class="pre-scrollable prettyprint">
                    @post.Code
                </pre>

                </div>
                <hr />
                <br />
                <br />

            }
        }
    </div>

    <div class="tab-pane fade" id="VBA" role="tabpanel" aria-labelledby="VBA-tab">
        @foreach (var post in Model.programPosts)
        {
            if (post.Language == "VBA")
            {


                <div>
                    <h1 class="program-language">@post.Language</h1>
                    <h2 class="program-title">@post.Title</h2>
                    <p class="program-description">@post.Description</p>
                    <br />

                    <pre class="pre-scrollable prettyprint">
                    @post.Code
                </pre>

                </div>
                <hr />
                <br />
                <br />

            }
        }
    </div>
</div>


<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


