@page
@model FunWithBrandt.ProgramsModel
@{
    ViewData["Title"] = "Programs";
}

<head>
    <style>
        .language-logo {
            width:45px;
            height:45px;
        }

        .pre-scrollable {
            max-height: 450px;
        }

        .program-language {
            font-size: x-large
        }

        .program-title {
            font-size: large
        }

        .program-description {
        }

        .program-code {
        }
    </style>
</head>

<h2 class="text-center">Programs</h2>
<form method="post">
    <button formmethod="post" type="submit" class="btn btn-light">For Hubbell</button>
</form>
@if (Model.ShowHubbel)
{
    <p>
        I am still leaning towards some sort of color coding. You think I can use their logo? Where should I put it?
        Formatting for title and description blocks?
    </p>
}
<br />
<br />

<p>
    Follow me on GitHub: <a href="https://github.com/Brandt-moreThan4">https://github.com/Brandt-moreThan4 </a>
</p>
<br />
<p>
    I don't have anything cool on there yet other
    than the source code for this website, but I would like to get going.
</p>

<br />


@* Dynamic navigation tab. I don't know how it works, but I think it uses bootstrap's javascript. *@
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="Python-tab" data-toggle="tab" href="#Python" role="tab" aria-controls="Python" aria-selected="true">Python</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="CSharp-tab" data-toggle="tab" href="#CSharp" role="tab" aria-controls="CSharp" aria-selected="false">CSharp</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="VBA-tab" data-toggle="tab" href="#VBA" role="tab" aria-controls="VBA" aria-selected="false">VBA</a>
    </li>
</ul>


<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Python" role="tabpanel" aria-labelledby="Python-tab">
        <div>
            <img class="language-logo" src="~/Images/LanguageLogos/Python.png" />
        </div>
        @foreach (var post in Model.programPosts)
        {
            if (post.Language == "Python")
            {


                <div>
                    @*<h1 class="program-language">@post.Language</h1>*@
                    <h2 class="program-title">@post.Title</h2>
                    <p class="program-description">@post.Description</p>
                    <br />

                    <pre class="pre-scrollable prettyprint">
                    @post.Code
                </pre>

                </div>
                <hr />
                <br />
                <br />

            }
        }
    </div>
    <div class="tab-pane fade" id="CSharp" role="tabpanel" aria-labelledby="CSharp-tab">
        <div>
            <img class="language-logo" src="~/Images/LanguageLogos/CSharp.png" />
        </div>
        @foreach (var post in Model.programPosts)
        {
            if (post.Language == "C#")
            {


                <div>
                    <h1 class="program-language">@post.Language</h1>
                    <h2 class="program-title">@post.Title</h2>
                    <p class="program-description">@post.Description</p>
                    <br />

                    <pre class="pre-scrollable prettyprint">
                    @post.Code
                </pre>

                </div>
                <hr />
                <br />
                <br />

            }
        }
    </div>

    <div class="tab-pane fade" id="VBA" role="tabpanel" aria-labelledby="VBA-tab">
        <br />
        @foreach (var post in Model.programPosts)
        {
            if (post.Language == "VBA")
            {


                <div>
                    @*<h1 class="program-language">@post.Language</h1>*@
                    <h2 class="program-title">@post.Title</h2>
                    <p class="program-description">@post.Description</p>
                    <br />

                    <pre class="pre-scrollable prettyprint">
                    @post.Code
                </pre>

                </div>
                <hr />
                <br />
                <br />

            }
        }
    </div>
</div>


<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>


